---
http_interactions:
- request:
    method: get
    uri: http://api.geocod.io/v1.2/geocode?api_key=secret_api_key&fields=cd,stateleg&q=4141%20woronzof%20dr%20anchorage%20ak%2099517
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Handler:
      - api19
    body:
      encoding: UTF-8
      string: '{"input":{"address_components":{"number":"4141","street":"Woronzof","suffix":"Dr","formatted_street":"Woronzof
        Dr","city":"Anchorage","state":"AK","zip":"99517","country":"US"},"formatted_address":"4141
        Woronzof Dr, Anchorage, AK 99517"},"results":[{"address_components":{"number":"4141","street":"Woronzof","suffix":"Dr","formatted_street":"Woronzof
        Dr","city":"Anchorage","county":"Anchorage Municipality","state":"AK","zip":"99517","country":"US"},"formatted_address":"4141
        Woronzof Dr, Anchorage, AK 99517","location":{"lat":61.193733,"lng":-149.959449},"accuracy":0.8,"accuracy_type":"range_interpolation","source":"TIGER\/Line\u00ae
        dataset from the US Census Bureau","fields":{"congressional_districts":[{"name":"Congressional
        District (at Large)","district_number":0,"congress_number":"115th","congress_years":"2017-2019","proportion":1,"current_legislators":[{"type":"representative","bio":{"last_name":"Young","first_name":"Don","birthday":"1933-06-09","gender":"M","party":"Republican"},"contact":{"url":"https:\/\/donyoung.house.gov","address":"2314
        Rayburn HOB; Washington DC 20515-0200","phone":"202-225-5765","contact_form":null},"social":{"rss_url":"http:\/\/donyoung.house.gov\/news\/rss.aspx","twitter":"RepDonYoung","facebook":"RepDonYoung","youtube":"RepDonYoung","youtube_id":"UCg5ZIR5-82EbJiNeI1bqT-A"},"references":{"bioguide_id":"Y000033","thomas_id":"01256","opensecrets_id":"N00007999","lis_id":null,"cspan_id":"1897","govtrack_id":"400440","votesmart_id":"26717","ballotpedia_id":"Don
        Young","washington_post_id":null,"icpsr_id":"14066","wikipedia_id":"Don Young"},"source":"Legislator
        data is originally collected and aggregated by https:\/\/github.com\/unitedstates\/"},{"type":"senator","bio":{"last_name":"Murkowski","first_name":"Lisa","birthday":"1957-05-22","gender":"F","party":"Republican"},"contact":{"url":"https:\/\/www.murkowski.senate.gov","address":"522
        Hart Senate Office Building Washington DC 20510","phone":"202-224-6665","contact_form":"https:\/\/www.murkowski.senate.gov\/public\/index.cfm\/contact"},"social":{"rss[...]
