---
http_interactions:
- request:
    method: get
    uri: http://api.geocod.io/v1.7/geocode?api_key=secret_api_key&fields=cd,stateleg&q=4141%20woronzof%20dr%20anchorage%20ak%2099517
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '2'
      Request-Handler:
      - api245
    body:
      encoding: UTF-8
      string: '{"input":{"address_components":{"number":"4141","street":"Woronzof","suffix":"Dr","formatted_street":"Woronzof
        Dr","city":"Anchorage","state":"AK","zip":"99517","country":"US"},"formatted_address":"4141
        Woronzof Dr, Anchorage, AK 99517"},"results":[{"address_components":{"number":"4141","street":"Woronzof","suffix":"Dr","formatted_street":"Woronzof
        Dr","city":"Anchorage","county":"Anchorage Municipality","state":"AK","zip":"99517","country":"US"},"formatted_address":"4141
        Woronzof Dr, Anchorage, AK 99517","location":{"lat":61.194138,"lng":-149.962696},"accuracy":1,"accuracy_type":"rooftop","source":"Anchorage","fields":{"congressional_districts":[{"name":"Congressional
        District (at Large)","district_number":0,"ocd_id":null,"congress_number":"117th","congress_years":"2021-2023","proportion":1,"current_legislators":[{"type":"senator","bio":{"last_name":"Murkowski","first_name":"Lisa","birthday":"1957-05-22","gender":"F","party":"Republican"},"contact":{"url":"https:\/\/www.murkowski.senate.gov","address":"522
        Hart Senate Office Building Washington DC 20510","phone":"202-224-6665","contact_form":"https:\/\/www.murkowski.senate.gov\/public\/index.cfm\/contact"},"social":{"rss_url":"http:\/\/www.murkowski.senate.gov\/public\/?a=rss.feed","twitter":"LisaMurkowski","facebook":"SenLisaMurkowski","youtube":"senatormurkowski","youtube_id":"UCaigku16AErqvD0wRuwGb9A"},"references":{"bioguide_id":"M001153","thomas_id":"01694","opensecrets_id":"N00026050","lis_id":"S288","cspan_id":"1004138","govtrack_id":"300075","votesmart_id":"15841","ballotpedia_id":"Lisa
        Murkowski","washington_post_id":null,"icpsr_id":"40300","wikipedia_id":"Lisa
        Murkowski"},"source":"Legislator data is originally collected and aggregated
        by https:\/\/github.com\/unitedstates\/"},{"type":"senator","bio":{"last_name":"Sullivan","first_name":"Dan","birthday":"1964-11-13","gender":"M","party":"Republican"},"contact":{"url":"https:\/\/www.sullivan.senate.gov","address":"302
        Hart Senate Office Building Washington DC 20510","phone":"202-224-3004","contact_form":"https:\/\/www.sullivan.senate.gov\/contact\/email"},"social":{"rss_url":null,"twitter":"SenDanSullivan","facebook":"SenDanSullivan","youtube":null,"youtube_id":"UC7tXCm8gKlAhTFo2kuf5ylw"},"references":{"bioguide_id":"S001198","thomas_id":"02290","opensecrets_id":"N00035774","lis_id":"S383","cspan_id":"1023262","govtrack_id":"412665","votesmart_id":"114964","ballotpedia_id":"Daniel
        S. Sullivan","washington_post_id":null,"icpsr_id":"41500","wikipedia_id":"Dan
        Sullivan (U.S. senator)"},"source":"Legislator data is originally collected
        and aggregated by https:\/\/github.com\/unitedstates\/"}]}],"state_legislative_districts":{"house":[{"name":"State
        House District 21","district_number":"21","ocd_id":null,"is_upcoming_state_legislative_district":false,"proportion":1}],"senate":[{"name":"State
        Senate District K","district_number":"K","ocd_id":null,"is_upcoming_state_legislative_district":false,"proportion":1}]}}}]}'
  recorded_at: Tue, 05 Jul 2022 22:21:48 GMT
recorded_with: VCR 6.1.0
