---
http_interactions:
- request:
    method: post
    uri: http://api.geocod.io/v1/geocode?api_key=secret_api_key
    body:
      encoding: UTF-8
      string: "[\"1 Infinite Loop Cupertino CA 95014\",\"54 West Colorado Boulevard
        Pasadena CA 91105\",\"826 Howard Street San Francisco CA 94103\"]"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"results\":[{\"query\":\"1 Infinite Loop Cupertino CA 95014\",\"response\":{\"input\":{\"address_components\":{\"number\":\"1\",\"street\":\"Infinite\",\"suffix\":\"Loop\",\"city\":\"Cupertino\",\"state\":\"CA\",\"zip\":\"95014\"},\"formatted_address\":\"1
        Infinite Loop, Cupertino CA, 95014\"},\"results\":[{\"address_components\":{\"number\":\"1\",\"street\":\"Infinite\",\"suffix\":\"Loop\",\"city\":\"Monta
        Vista\",\"state\":\"CA\",\"zip\":\"95014\"},\"formatted_address\":\"1 Infinite
        Loop, Monta Vista CA, 95014\",\"location\":{\"lat\":37.331669,\"lng\":-122.03074},\"accuracy\":1}]}},{\"query\":\"54
        West Colorado Boulevard Pasadena CA 91105\",\"response\":{\"input\":{\"address_components\":{\"number\":\"54\",\"predirectional\":\"W\",\"street\":\"Colorado\",\"suffix\":\"Blvd\",\"city\":\"Pasadena\",\"state\":\"CA\",\"zip\":\"91105\"},\"formatted_address\":\"54
        W Colorado Blvd, Pasadena CA, 91105\"},\"results\":[{\"address_components\":{\"number\":\"54\",\"predirectional\":\"W\",\"street\":\"Colorado\",\"suffix\":\"Blvd\",\"city\":\"Pasadena\",\"state\":\"CA\",\"zip\":\"91105\"},\"formatted_address\":\"54
        W Colorado Blvd, Pasadena CA, 91105\",\"location\":{\"lat\":34.145760590909,\"lng\":-118.15204363636[...]
