---
http_interactions:
- request:
    method: post
    uri: http://api.geocod.io/v1/geocode?api_key=secret_api_key
    body:
      encoding: UTF-8
      string: '["1 Infinite Loop Cupertino CA 95014"," , , "]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":[{"query":"1 Infinite Loop Cupertino CA 95014","response":{"input":{"address_components":{"number":"1","street":"Infinite","suffix":"Loop","city":"Cupertino","state":"CA","zip":"95014"},"formatted_address":"1
        Infinite Loop, Cupertino, CA 95014"},"results":[{"address_components":{"number":"1","street":"Infinite","suffix":"Loop","city":"Cupertino","county":"Santa
        Clara County","state":"CA","zip":"95014"},"formatted_address":"1 Infinite
        Loop, Cupertino, CA 95014","location":{"lat":37.331669,"lng":-122.03074},"accuracy":1}]}},{"query":"
        , , ","response":{"error":"Could not parse address"}}]}'
  recorded_at: Thu, 10 Apr 2014 15:55:59 GMT
recorded_with: VCR 2.8.0
