---
http_interactions:
- request:
    method: post
    uri: http://api.geocod.io/v1/reverse?api_key=secret_api_key&fields=cd,stateleg,school,timezone
    body:
      encoding: UTF-8
      string: '["37.331669,-122.03074","34.145760590909,-118.15204363636","37.7815,-122.404933"]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"query":"37.331669,-122.03074","response":{"results":[{"address_components":{"number":"91","street":"Infinite","suffix":"Loop","formatted_street":"Infinite
        Loop","city":"Cupertino","county":"Santa Clara County","state":"CA","zip":"95014"},"formatted_address":"91
        Infinite Loop, Cupertino, CA 95014","location":{"lat":37.332709,"lng":-122.03071},"accuracy":1,"accuracy_type":"nearest_street","source":"TIGER\/Line\u00ae
        dataset from the US Census Bureau","fields":{"congressional_district":{"name":"Congressional
        District 17","district_number":17,"congress_number":"114th","congress_years":"2015-2017"},"state_legislative_districts":{"house":{"name":"Assembly
        District 28","district_number":28},"senate":{"name":"State Senate District
        15","district_number":15}},"school_districts":{"elementary":{"name":"Cupertino
        Union Elementary School District","lea_code":"0610290","grade_low":"KG","grade_high":"08"},"secondary":{"name":"Fremont
        Union High School District","lea_code":"0614430","grade_low":"09","grade_high":"12"}},"timezone":{"name":"PST","utc_offset":-8,"observes_dst":true}}},{"address_components":{"number":"19118","street":"Mariani","suffix":"Ave","formatted_street":"Mariani
        Ave","city":"Cupertino","county":"Santa Clara County","state":"CA","zip":"95014"},"formatted_address":"19118
        Mariani Ave, Cupertino, CA 95014","location":{"lat":37.330489,"lng":-122.0305},"accuracy":0.28,"accuracy_type":"nearest_street","source":"TIGER\/Line\u00ae
        dataset from the US Census Bureau","fields":{"congressional_district":{"name":"Congressional
        [...]
