---
http_interactions:
- request:
    method: post
    uri: http://api.geocod.io/v1.2/geocode?api_key=secret_api_key
    body:
      encoding: UTF-8
      string: '["1 Infinite Loop Cupertino CA 95014","54 West Colorado Boulevard Pasadena
        CA 91105","826 Howard Street San Francisco CA 94103"]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Handler:
      - api19
    body:
      encoding: UTF-8
      string: '{"results":[{"query":"1 Infinite Loop Cupertino CA 95014","response":{"input":{"address_components":{"number":"1","street":"Infinite","suffix":"Loop","formatted_street":"Infinite
        Loop","city":"Cupertino","state":"CA","zip":"95014","country":"US"},"formatted_address":"1
        Infinite Loop, Cupertino, CA 95014"},"results":[{"address_components":{"number":"1","street":"Infinite","suffix":"Loop","formatted_street":"Infinite
        Loop","city":"Cupertino","county":"Santa Clara County","state":"CA","zip":"95014","country":"US"},"formatted_address":"1
        Infinite Loop, Cupertino, CA 95014","location":{"lat":37.330689,"lng":-122.02912},"accuracy":1,"accuracy_type":"range_interpolation","source":"TIGER\/Line\u00ae
        dataset from the US Census Bureau"}]}},{"query":"54 West Colorado Boulevard
        Pasadena CA 91105","response":{"input":{"address_components":{"number":"54","predirectional":"W","street":"Colorado","suffix":"Blvd","formatted_street":"W
        Colorado Blvd","city":"Pasadena","state":"CA","zip":"91105","country":"US"},"formatted_address":"54
        W Colorado Blvd, Pasadena, CA 91105"},"results":[{"address_components":{"number":"54","predirectional":"E","street":"Colorado","suffix":"Blvd","formatted_street":"E
        Colorado Blvd","city":"Pasadena","county":"Los Angeles County","state":"CA","zip":"91105","country":"US"},"formatted_address":"54
        E Colorado [...]
