---
http_interactions:
- request:
    method: post
    uri: http://api.geocod.io/v1/geocode?api_key=secret_api_key&fields=cd,stateleg,school,timezone
    body:
      encoding: UTF-8
      string: '["1 Infinite Loop Cupertino CA 95014","54 West Colorado Boulevard Pasadena
        CA 91105","826 Howard Street San Francisco CA 94103"]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"query":"1 Infinite Loop Cupertino CA 95014","response":{"input":{"address_components":{"number":"1","street":"Infinite","suffix":"Loop","formatted_street":"Infinite
        Loop","city":"Cupertino","state":"CA","zip":"95014"},"formatted_address":"1
        Infinite Loop, Cupertino, CA 95014"},"results":[{"address_components":{"number":"1","street":"Infinite","suffix":"Loop","formatted_street":"Infinite
        Loop","city":"Cupertino","county":"Santa Clara County","state":"CA","zip":"95014"},"formatted_address":"1
        Infinite Loop, Cupertino, CA 95014","location":{"lat":37.330539,"lng":-122.02912},"accuracy":1,"accuracy_type":"range_interpolation","source":"TIGER\/Line\u00ae
        dataset from the US Census Bureau","fields":{"congressional_district":{"name":"Congressional
        District 17","district_number":17,"congress_number":"114th","congress_years":"2015-2017"},"state_legislative_districts":{"house":{"name":"Assembly
        District 28","district_number":28},"senate":{"name":"State Senate District
        15","district_number":15}},"school_districts":{"elementary":{"name":"Cupertino
        Union Elementary School District","lea_code":"0610290","grade_low":"KG","grade_high":"08"},"secondary":{"name":"Fremont
        Union High School District","lea_code":"0614430","grade_low":"09","grade_high":"12"}},"timezone":{"name":"PST","utc_offset":-8,"observes_dst":true}}}]}},{"query":"54
        West Colorado Boulevard Pasadena CA 91105","response":{"input":{"address_components":{"number":"54","predirectional":"W","street":"Colorado","suffix":"Blvd","formatted_street":"W
        Colorado Blvd","city":"Pasadena","state":"CA","zip":"91105"},"formatted_address":"54
        W Colorado Blvd, Pasadena, CA 91105"},"results":[{"address_components":{"number":"54","predirectional":"W","street":"Colorado","suffix":"Blvd","formatted_street":"W
        Colorado Blvd","city":"Pasadena","county":"Los Angeles County","state":"CA","zip":"91105"},"formatted_address":"54
        W Colorado Blvd, Pasadena, CA 91105","location":{"lat":34.145764409091,"lng":-118.15159636364},"accuracy":1,"accuracy_type":"range_interpolation","source":"TIGER\/Line\u00ae
        dataset from the US Census Bureau","fields":{"congressional_district":{"name":"Congressional
        District 27","district_number":27,"congress_number":"114th","congress_years":"2015-2017"},"state_legislative_districts":{"house":{"name":"Assembly
        District 41","district_number":41},"senate":{"name":"State Senate District
        25","district_number":25}},"school_districts":{"unified":{"name":"Pasadena
        Unified School District","lea_code":"0629940","grade_low":"KG","grade_high":"12"}},"timezone":{"name":"PST","utc_offset":-8,"observes_dst":true}}},{"address_components":{"number":"54","predirectional":"W","street":"Colorado","suffix":"Blvd","formatted_street":"W
        Colorado Blvd","city":"Pasadena","county":"Los Angeles County","state":"CA","zip":"91105"},"formatted_address":"54
        W Colorado Blvd, Pasadena, CA 91105","location":{"lat":34.1457615375,"lng":-118.[...]
