---
http_interactions:
- request:
    method: post
    uri: https://api.geocod.io/v1.6/reverse?api_key=secret_api_key&fields=cd,stateleg,school,census,timezone
    body:
      encoding: UTF-8
      string: '["37.331669,-122.03074","34.145760590909,-118.15204363636","37.7815,-122.404933"]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '3'
      X-Billable-Fields-Count:
      - '15'
      Request-Handler:
      - api79
      X-Ratelimit-Remaining:
      - '988'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: UTF-8
      string: '{"results":[{"query":"37.331669,-122.03074","response":{"results":[{"address_components":{"number":"10700","street":"De
        Anza","formatted_street":"De Anza","city":"Cupertino","county":"Santa Clara
        County","state":"CA","zip":"95014","country":"US"},"formatted_address":"10700
        De Anza, Cupertino, CA 95014","location":{"lat":37.331692,"lng":-122.030239},"accuracy":1,"accuracy_type":"rooftop","source":"Santa
        Clara","fields":{"congressional_districts":[{"name":"Congressional District
        17","district_number":17,"congress_number":"116th","congress_years":"2019-2021","proportion":1,"current_legislators":[{"type":"representative","bio":{"last_name":"Khanna","first_name":"Ro","birthday":"1976-09-13","gender":"M","party":"Democrat"},"contact":{"url":"https:\/\/khanna.house.gov","address":"221
        Cannon House Office Building Washington DC 20515-0517","phone":"202-225-2631","contact_form":null},"social":{"rss_url":null,"twitter":"RepRoKhanna","facebook":"RepRoKhanna","youtube":null,"youtube_id":"UCr4KOYv1o1oEQhy1jhhm3pQ"},"references":{"bioguide_id":"K000389","thomas_id":null,"opensecrets_id":"N00026427","lis_id":null,"cspan_id":"31129","govtrack_id":"412684","votesmart_id":"29473","ballotpedia_id":null,"washington_post_id":null,"icpsr_id":"21728","wikipedia_id":"Ro
        Khanna"},"source":"Legislator data is originally collected and aggregated
        by https:\/\/github.com\/unitedstates\/"},{"type":"senator","bio":{"last_name":"Feinstein","first_name":"Dianne","birthday":"1933-06-22","gender":"F","party":"Democrat"},"contact":{"url":"https:\/\/www.feinstein.senate.gov","address":"331
        Hart Senate Office Building Washington DC 20510","phone":"202-224-3841","contact_form":"https:\/\/www.feinstein.senate.gov\/public\/index.cfm\/e-mail-me"},"soc[...]
