---
http_interactions:
- request:
    method: post
    uri: http://api.geocod.io/v1/reverse?api_key=secret_api_key
    body:
      encoding: UTF-8
      string: '["37.331669,-122.03074","34.145760590909,-118.15204363636","37.7815,-122.404933"]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"query":"37.331669,-122.03074","response":{"results":[{"address_components":{"number":"91","street":"Infinite","suffix":"Loop","formatted_street":"Infinite
        Loop","city":"Cupertino","county":"Santa Clara County","state":"CA","zip":"95014"},"formatted_address":"91
        Infinite Loop, Cupertino, CA 95014","location":{"lat":37.332709,"lng":-122.03071},"accuracy":1,"accuracy_type":"nearest_street","source":"TIGER\/Line\u00ae
        dataset from the US Census Bureau"},{"address_components":{"number":"19118","street":"Mariani","suffix":"Ave","formatted_street":"Mariani
        Ave","city":"Cupertino","county":"Santa Clara County","state":"CA","zip":"95014"},"formatted_address":"19118
        Mariani Ave, Cupertino, CA 95014","location":{"lat":37.330489,"lng":-122.0305},"accuracy":0.28,"accuracy_type":"nearest_street","source":"TIGER\/Line\u00ae
        dataset from the US Census Bureau"},{"address_components":{"number":"19116","street":"Mariani","suffix":"Ave","formatted_street":"Mariani
        Ave","city":"Cupertino","county":"Santa Clara County","state":"CA","zip":"95014"},"formatted_address":"19116
        Mariani Ave, Cupertino, CA 95014","location":{"lat":37.330407,"lng":-122.030873},"accuracy":0.28,"accuracy_type":"nearest_street","source":"TIGER\/Line\u00ae
        dataset from the US Census Bureau"}]}},{"query":"34.145760590909,-118.15204363636","response":{"results":[{"address_components":{"number":"43","predirectional":"W","street":"Colorado","suffix":"Blvd","formatted_street":"W
        Colorado Blvd","city":"Pasadena","county":"Los Angeles County","state":"CA","zip":"91105"},"formatted_address":"43
        W Colorado Blvd, Pasadena, CA 91105","location":{"lat":34.145766,"lng":-118.15141},"accuracy":1,"accuracy_type":"nearest_street","source":"TIGER\/Line\u00ae
        dataset from the US Census Bureau"},{"address_components":{"number":"1","predirectional":"N","street":"De
        Lacey","suffix":"Ave","forma[...]
