---
http_interactions:
- request:
    method: post
    uri: http://api.geocod.io/v1.7/geocode?api_key=secret_api_key
    body:
      encoding: UTF-8
      string: '["1 Infinite Loop Cupertino CA 95014"," , , "]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api245
    body:
      encoding: UTF-8
      string: '{"results":[{"query":"1 Infinite Loop Cupertino CA 95014","response":{"input":{"address_components":{"number":"1","street":"Infinite","suffix":"Loop","formatted_street":"Infinite
        Loop","city":"Cupertino","state":"CA","zip":"95014","country":"US"},"formatted_address":"1
        Infinite Loop, Cupertino, CA 95014"},"results":[{"address_components":{"number":"1","street":"Infinite","suffix":"Loop","formatted_street":"Infinite
        Loop","city":"Cupertino","county":"Santa Clara County","state":"CA","zip":"95014","country":"US"},"formatted_address":"1
        Infinite Loop, Cupertino, CA 95014","location":{"lat":37.331524,"lng":-122.030231},"accuracy":1,"accuracy_type":"rooftop","source":"City
        of Cupertino"}]}},{"query":" , , ","response":{"error":"Could not geocode
        address. Postal code or city required.","results":[]}}]}'
  recorded_at: Tue, 05 Jul 2022 22:21:43 GMT
recorded_with: VCR 6.1.0
