---
http_interactions:
- request:
    method: post
    uri: http://api.geocod.io/v1.7/geocode?api_key=secret_api_key&fields=timezone,cd118,provriding,riding,stateleg-next
    body:
      encoding: UTF-8
      string: '["1 Infinite Loop Cupertino CA 95014","356 Yonge St, Toronto, ON M5G,
        Canada","3475 Bd Sainte-Anne, Beauport, QC G1E 3L5, Canada"]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '3'
      X-Billable-Fields-Count:
      - '9'
      Request-Handler:
      - api228
    body:
      encoding: UTF-8
      string: '{"results":[{"query":"1 Infinite Loop Cupertino CA 95014","response":{"input":{"address_components":{"number":"1","street":"Infinite","suffix":"Loop","formatted_street":"Infinite
        Loop","city":"Cupertino","state":"CA","zip":"95014","country":"US"},"formatted_address":"1
        Infinite Loop, Cupertino, CA 95014"},"results":[{"address_components":{"number":"1","street":"Infinite","suffix":"Loop","formatted_street":"Infinite
        Loop","city":"Cupertino","county":"Santa Clara County","state":"CA","zip":"95014","country":"US"},"formatted_address":"1
        Infinite Loop, Cupertino, CA 95014","location":{"lat":37.331524,"lng":-122.030231},"accuracy":1,"accuracy_type":"rooftop","source":"City
        of Cupertino","fields":{"congressional_districts":[{"name":"Congressional
        District 17","district_number":17,"ocd_id":"ocd-division\/country:us\/state:ca\/cd:17","congress_number":"118th","congress_years":"2023-2025","proportion":1}],"state_legislative_districts":{"house":[{"name":"Assembly
        District 26","district_number":"26","ocd_id":"ocd-division\/country:us\/state:ca\/sldl:26","is_upcoming_state_legislative_district":true,"proportion":1}],"senate":[{"name":"State
        Senate District 13","district_number":"13","ocd_id":"ocd-division\/country:us\/state:ca\/sldu:13","is_upcoming_state_legislative_district":true,"proportion":1}]},"timezone":{"name":"America\/Los_Angeles","utc_offset":-8,"observes_dst":true,"abbreviation":"PST","source":"\u00a9
        OpenStreetMap contributors"}}}]}},{"query":"356 Yonge St, Toronto, ON M5G,
        Canada","response":{"input":{"address_components":{"number":"356","street":"Yonge","suffix":"St","formatted_street":"Yonge
        St","city":"Toronto","state":"ON","zip":"M5G","country":"CA"},"formatted_address":"356
        Yonge St, Toronto, ON M5G"},"results":[{"address_components":{"number":"356","street":"Yonge","suffix":"St","formatted_street":"Yonge
        St","city":"Toronto","state":"ON","zip":"M5G","country":"CA"},"formatted_address":"356
        Yonge St, Toronto, ON M5G","location":{"lat":43.658192,"lng":-79.382046},"accuracy":1,"accuracy_type":"rooftop","source":"City
        of Toronto","fields":{"timezone":{"name":"America\/Toronto","utc_offset":-5,"observes_dst":true,"abbreviation":"EST","source":"\u00a9
        OpenStreetMap contributors"},"riding":{"code":"35110","ocd_id":"ocd-division\/country:ca\/ed:35110-2013","name_french":"University--Rosedale","name_english":"University--Rosedale","source":"Statistics
        Canada"},"provincial_riding":{"ocd_id":"ocd-division\/country:ca\/province:on\/ed:112-2015","name_french":"University
        - Rosedale","name_english":"University - Rosedale","source":"Elections Ontario"}}}]}},{"query":"3475
        Bd Sainte-Anne, Beauport, QC G1E 3L5, Canada","response":{"input":{"address_components":{"number":"3475","city":"Beauport","state":"QC","zip":"G1E","country":"CA"},"formatted_address":"3475,
        Beauport, QC G1E"},"results":[{"address_components":{"city":"Beauport","state":"QC","zip":"G1E"[...]
