---
http_interactions:
- request:
    method: get
    uri: http://api.geocod.io/v1.7/geocode?api_key=secret_api_key&q=1600%20Pennsylvania%20Ave%20NW%20Washington%20DC%2020500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api245
    body:
      encoding: UTF-8
      string: '{"input":{"address_components":{"number":"1600","street":"Pennsylvania","suffix":"Ave","postdirectional":"NW","formatted_street":"Pennsylvania
        Ave NW","city":"Washington","state":"DC","zip":"20500","country":"US"},"formatted_address":"1600
        Pennsylvania Ave NW, Washington, DC 20500"},"results":[{"address_components":{"number":"1600","street":"Pennsylvania","suffix":"Ave","postdirectional":"NW","formatted_street":"Pennsylvania
        Ave NW","city":"Washington","county":"District of Columbia","state":"DC","zip":"20500","country":"US"},"formatted_address":"1600
        Pennsylvania Ave NW, Washington, DC 20500","location":{"lat":38.897675,"lng":-77.036547},"accuracy":1,"accuracy_type":"rooftop","source":"Statewide
        DC"},{"address_components":{"number":"1600","street":"Pennsylvania","suffix":"Ave","postdirectional":"SE","formatted_street":"Pennsylvania
        Ave SE","city":"Washington","county":"District of Columbia","state":"DC","zip":"20003","country":"US"},"formatted_address":"1600
        Pennsylvania Ave SE, Washington, DC 20003","location":{"lat":38.879213,"lng":-76.981976},"accuracy":0.7,"accuracy_type":"rooftop","source":"Statewide
        DC"}]}'
  recorded_at: Tue, 05 Jul 2022 22:21:36 GMT
recorded_with: VCR 6.1.0
