---
http_interactions:
- request:
    method: get
    uri: http://api.geocod.io/v1/geocode?api_key=secret_api_key&fields=cd,stateleg,school,timezone&q=54%20West%20Colorado%20Boulevard%20Pasadena%20CA%2091105
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"input":{"address_components":{"number":"54","predirectional":"W","street":"Colorado","suffix":"Blvd","formatted_street":"W
        Colorado Blvd","city":"Pasadena","state":"CA","zip":"91105"},"formatted_address":"54
        W Colorado Blvd, Pasadena, CA 91105"},"results":[{"address_components":{"number":"54","predirectional":"W","street":"Colorado","suffix":"Blvd","formatted_street":"W
        Colorado Blvd","city":"Pasadena","county":"Los Angeles County","state":"CA","zip":"91105"},"formatted_address":"54
        W Colorado Blvd, Pasadena, CA 91105","location":{"lat":34.145764409091,"lng":-118.15159636364},"accuracy":1,"accuracy_type":"range_interpolation","source":"TIGER\/Line\u00ae
        dataset from the US Census Bureau","fields":{"congressional_district":{"name":"Congressional
        District 27","district_number":27,"congress_number":"114th","congress_years":"2015-2017"},"state_legislative_districts":{"house":{"name":"Assembly
        District 41","district_number":41},"senate":{"name":"State Senate District
        25","district_number":25}},"school_districts":{"unified":{"name":"Pasadena
        Unified School District","lea_code":"0629940","grade_low":"KG","grade_high":"12"}},"timezone":{"name":"PST","utc_offset":-8,"observes_dst":true}}},{"address_components":{"number":"54","predirectional":"W","street":"Colorado","suffix":"Blvd","formatted_street":"W
        Colorado Blvd","city":"Pasadena","county":"Los Angeles County","state":"CA","zip":"91105"},"formatted_address":"54
        W Colorado Blvd, Pasadena, CA 91105","location":{"lat":34.1457615375,"lng":-118.15193275},"accuracy":0.8,"accuracy_type":"range_interpolation","source":"TIGER\/Line\u00ae
        dataset from the US Census Bureau","fields":{"congressional_district":{"name":"Congressional
        District 27","district_number":27,"congress_number":"114th","congress_years":"2015-2017"},"state_legislative_districts":{"house":{"name":"Assembly
        District 41","district_number":41},"senate":{"name":"State Senate District
        25","district_number":25}},"school_districts":{"unified":{"name":"Pasadena
        Unified School District","lea_code":"0629940","grade_low":"KG","grade_high":"12"}},"timezone":{"name":"PST","utc_offset":-8,"observes_dst":true}}}]}'
  recorded_at: Wed, 22 Jul 2015 17:24:23 GMT
recorded_with: VCR 2.9.3
