---
http_interactions:
- request:
    method: get
    uri: http://api.geocod.io/v1/parse?api_key=secret_api_key&q=54%20West%20Colorado%20Boulevard%20Pasadena%20CA%2091105
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"address_components\":{\"number\":\"54\",\"predirectional\":\"W\",\"street\":\"Colorado\",\"suffix\":\"Blvd\",\"city\":\"Pasadena\",\"state\":\"CA\",\"zip\":\"91105\"},\"formatted_address\":\"54
        W Colorado Blvd, Pasadena, CA 91105\"}"
  recorded_at: Sun, 02 Feb 2014 17:40:54 GMT
recorded_with: VCR 2.8.0
