---
http_interactions:
- request:
    method: get
    uri: http://api.geocod.io/v1/reverse?api_key=secret_api_key&fields=cd,stateleg,school,timezone&q=41.25,-96.00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Handler:
      - api19
    body:
      encoding: UTF-8
      string: '{"results":[{"address_components":{"number":"5599","street":"Mayberry","suffix":"St","formatted_street":"Mayberry
        St","city":"Omaha","county":"Douglas County","state":"NE","zip":"68106","country":"US"},"formatted_address":"5599
        Mayberry St, Omaha, NE 68106","location":{"lat":41.250585,"lng":-95.997945},"accuracy":1,"accuracy_type":"nearest_street","source":"TIGER\/Line\u00ae
        dataset from the US Census Bureau","fields":{"congressional_district":{"name":"Congressional
        District 2","district_number":2,"congress_number":"115th","congress_years":"2017-2019"},"state_legislative_districts":{"senate":{"name":"State
        Senate District 9","district_number":"9"}},"school_districts":{"unified":{"name":"Omaha
        Public Schools","lea_code":"3174820","grade_low":"PK","grade_high":"12"}},"timezone":{"name":"CST","utc_offset":-6,"observes_dst":true}}},{"address_components":{"number":"975","predirectional":"S","street":"57th","suffix":"St","formatted_street":"S
        57th St","city":"Omaha","county":"Douglas County","state":"NE","zip":"68106","country":"US"},"formatted_address":"975
        S 57th St, Omaha, NE 68106","location":{"lat":41.250211,"lng":-96.001138},"accuracy":0.51,"accuracy_type":"nearest_street","source":"TIGER\/Line\u00ae
        dataset from the US Census Bureau","fields":{"congressional_district":{"name":"Congressional
        District 2","district_number":2,"congress_number":[...]
