---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.6/reverse?api_key=secret_api_key&fields=cd,stateleg,school,census,timezone&q=34.145760590909,-118.15204363636
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '5'
      Request-Handler:
      - api47
      X-Ratelimit-Remaining:
      - '987'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: UTF-8
      string: '{"results":[{"address_components":{"number":"58","predirectional":"W","street":"Colorado","suffix":"Blvd","formatted_street":"W
        Colorado Blvd","city":"Pasadena","county":"Los Angeles County","state":"CA","zip":"91105","country":"US"},"formatted_address":"58
        W Colorado Blvd, Pasadena, CA 91105","location":{"lat":34.145373,"lng":-118.151925},"accuracy":1,"accuracy_type":"rooftop","source":"Los
        Angeles","fields":{"congressional_districts":[{"name":"Congressional District
        27","district_number":27,"congress_number":"116th","congress_years":"2019-2021","proportion":1,"current_legislators":[{"type":"representative","bio":{"last_name":"Chu","first_name":"Judy","birthday":"1953-07-07","gender":"F","party":"Democrat"},"contact":{"url":"https:\/\/chu.house.gov","address":"2423
        Rayburn House Office Building Washington DC 20515-0527","phone":"202-225-5464","contact_form":null},"social":{"rss_url":"http:\/\/chu.house.gov\/rss.xml","twitter":"RepJudyChu","facebook":"RepJudyChu","youtube":"RepJudyChu","youtube_id":"UCfcbYOvdEXZNelM8T05nK-w"},"references":{"bioguide_id":"C001080","thomas_id":"01970","opensecrets_id":"N00030600","lis_id":null,"cspan_id":"92573","govtrack_id":"412379","votesmart_id":"16539","ballotpedia_id":"Judy
        Chu","washington_post_id":null,"icpsr_id":"20955","wikipedia_id":"Judy Chu"},"source":"Legislator
        data is originally collected and aggregated by https:\/\/github.com\/unitedstates\/"},{"type":"senator","bio":{"last_name":"Feinstein","first_name":"Dianne","birthday":"1933-06-22","gender":"F","party":"Democrat"},"contact":{"url":"https:\/\/www.feinstein.senate.gov","address":"331
        Hart Senate Office Building Washington DC 20510","phone":"202-224-3841","contact_form":"https:\/\/www.feinstein.senate.gov\/public\/index.cfm\/e-mail-me"},"social":{"rs[...]
