---
http_interactions:
- request:
    method: get
    uri: http://api.geocod.io/v1.7/reverse?api_key=secret_api_key&fields=cd118,stateleg-next,school,timezone&q=41.25,-96.00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '4'
      Request-Handler:
      - api228
    body:
      encoding: UTF-8
      string: '{"results":[{"address_components":{"number":"5548","street":"Mason","suffix":"St","formatted_street":"Mason
        St","city":"Omaha","county":"Douglas County","state":"NE","zip":"68106","country":"US"},"formatted_address":"5548
        Mason St, Omaha, NE 68106","location":{"lat":41.24989,"lng":-96.00003},"accuracy":1,"accuracy_type":"rooftop","source":"Omaha","fields":{"congressional_districts":[{"name":"Congressional
        District 2","district_number":2,"ocd_id":"ocd-division\/country:us\/state:ne\/cd:2","congress_number":"118th","congress_years":"2023-2025","proportion":1}],"state_legislative_districts":{"house":[{"name":"Legislative
        District 9","district_number":"9","ocd_id":"ocd-division\/country:us\/state:ne\/sldl:9","is_upcoming_state_legislative_district":true,"proportion":1}],"senate":[{"name":"Legislative
        District 9","district_number":"9","ocd_id":"ocd-division\/country:us\/state:ne\/sldu:9","is_upcoming_state_legislative_district":true,"proportion":1}]},"school_districts":{"unified":{"name":"Omaha
        Public Schools","lea_code":"3174820","grade_low":"PK","grade_high":"12"}},"timezone":{"name":"America\/Chicago","utc_offset":-6,"observes_dst":true,"abbreviation":"CST","source":"\u00a9
        OpenStreetMap contributors"}}},{"address_components":{"number":"5548","street":"Mason","suffix":"St","formatted_street":"Mason
        St","city":"Omaha","county":"Douglas County","state":"NE","zip":"68106","country":"US"},"formatted_address":"5548
        Mason St, Omaha, NE 68106","location":{"lat":41.249883,"lng":-96.000022},"accuracy":1,"accuracy_type":"rooftop","source":"Statewide
        NE","fields":{"congressional_districts":[{"name":"Congressional District[...]
