---
http_interactions:
- request:
    method: get
    uri: http://api.geocod.io/v1/reverse?api_key=secret_api_key&fields=cd,stateleg,school,timezone&q=34.145760590909,-118.15204363636
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"address_components":{"number":"1749","street":"1st","suffix":"Ave","formatted_street":"1st Ave","city":"Plattsmouth","county":"Cass County","state":"NE","zip":"68048","country":"US"},"formatted_address":"1749 1st Ave, Plattsmouth, NE 68048","location":{"lat":41.010259,"lng":-95.901405},"accuracy":1,"accuracy_type":"nearest_street","source":"TIGER\/Line\u00ae dataset from the US Census Bureau","fields":{"congressional_district":{"name":"Congressional District 1","district_number":1,"congress_number":"115th","congress_years":"2017-2019"},"state_legislative_districts":{"senate":{"name":"State Senate District 2","district_number":"2"}}}},{"address_components":{"number":"200","predirectional":"S","street":"17th","suffix":"St","formatted_street":"S 17th St","city":"Plattsmouth","county":"Cass County","state":"NE","zip":"68048","country":"US"},"formatted_address":"200 S 17th St, Plattsmouth, NE 68048","location":{"lat":41.010252,"lng":-95.899504},"accuracy":0.51,"accuracy_type":"nearest_street","source":"TIGER\/Line\u00ae dataset from the US Census Bureau","fields":{"congressional_district":{"name":"Congressional District 1","district_number":1,"congress_number":"115th","congress_years":"2017-2019"},"state_legislative_districts":{"senate":{"name":"State Senate District 2","district_number":"2"}}}},{"address_components":{"number":"1616","street":"1st","suffix":"Ave","formatted_street":"1st Ave","city":"Plattsmouth","county":"Cass County","state":"NE","zip":"68048","country":"US"},"formatted_address":"1616 1st Ave, Plattsmouth, NE 68048","location":{"lat":41.010252,"lng":-95.899504},"accuracy":0.46,"accuracy_type":"nearest_street","source":"TIGER\/Line\u00ae dataset from the US Census Bureau","fields":{"congressional_district":{"name":"Congressional District 1","district_number":1,"congress_number":"115th","congress_years":"2017-2019"},"state_legislative_districts":{"senate":{"name":"State Senate District 2","district_number":"2"}}}}]}'
  recorded_at: Wed, 22 Jul 2015 17:24:20 GMT
recorded_with: VCR 2.9.3
